* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    min-height: 100vh;
    width: 100%;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
    }

    .container {
        .gameOver {
            position: absolute;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .scoreBoard {
            position: absolute;
            right: 0;
            pointer-events: none;
        }

        flex: 1;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .game {
            width: 90%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            gap: 10px;

            [data-button] {
                opacity: 0.2;
                aspect-ratio: 1;

                &.highlight {
                    opacity: 1;
                }
            }
        }

        .settings {
            display: flex;
            flex-direction: column;
            input {
                //width: 100%;
            }
            margin-bottom: 15px ;
        }
    }
}