* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    min-height: 100vh;
    width: 100%;
}


#app {
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: flex;
    flex-direction: column;

    h1 {
        background-color: purple;
        text-align: center;
    }

    .container {
        flex: 1;
        background-color: aquamarine;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .gameOver {
            position: absolute;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .game {
            width: 90%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            gap: 10px;

            [data-button] {
                opacity: 0.5;
                aspect-ratio: 1;

                &.highlight {
                    opacity: 1;
                }
            }
        }

        .settings {
            display: flex;
            flex-direction: column;
            input {
                //width: 100%;
            }
            background-color: yellow;
            margin-bottom: 15px ;
        }
    }
}